<div class="row float-right">
  <div class="col">
    <a href="logout">Logout</a>
  </div>
</div>
<div class="row">
  <div class="col">
    <h1 class="text-center text-success">SUCCESS</h1>
  </div>
</div>